@model CCMS.Models.PetitionViewModel
@{
    Layout = "_Layout";
}

<div class="container-fluid p-0">
    <div class="site-content petition">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <h1 class="site-title">Community Case Management System Build</h1>
                <h2 class="site-desc">
                    Using Technology to Bring Nonprofits Across Washington State Together as One Cohesive Team!
                </h2>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<div class="section-1">
    <div class="container text-center">
        <h1 class="heading-1">Sign the Petition</h1>
        <h3>Number of Signatures: @Model.SigCount</h3>
        <h3 class="mb-5">Number of Unique Orginizations: @Model.UniqueOrginizations</h3>

        <h2 style="color:lightgreen;">
            @Html.ValidationSummary()
        </h2>

        @if (TempData["Success"] != null)
        {
            <div class="green">
                <h2 style="color:lightgreen;"><strong>Success:</strong> @TempData["Success"].ToString()</h2>
            </div>
        }
                        <form asp-action="Petition" method="post" class="mt-5">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">Show Support</span>
                                </div>


                                <input asp-for="Name" class="form-control" placeholder="* Full Name" required />

                                <input asp-for="Orginization" class="form-control" placeholder="* Orginization" required />
                            </div>
                            <button type="submit" class="btn btn-outline-secondary">Sign</button>

                        </form>
                        <table class="table table-striped mt-5">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Name:
                                    </th>
                                    <th scope="col">
                                        Orginization:
                                    </th>
                                    <th scope="col">
                                        Date Signed:
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var s in Model.Signatures)
                                {
                                    <tr>
                                        <td>
                                            @s.Name
                                        </td>
                                        <td>
                                            @s.Orginization
                                        </td>
                                        <td>
                                            @s.Date
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
<footer class="bg-dark">
    <br />
    <a asp-action="Contact" class="nav-link mt-3"><p style="color:white;">Contact </p></a>
    <div class="section-5 text-center">
        <h5 style="color:white;">ccmsbuild.org &copy;</h5>
    </div>
    <br />
</footer>
